@model List<WebApp.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Category List</h1>
<br/>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
            
        
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.CategoryID</td>
            <td>@x.CategoryName</td>
            <td>@x.CategoryDescription</td>
            <td><a href="/CategoryController1/DeleteCategory/@x.CategoryID" class="btn btn-danger">Delete</a></td>
            <td><a href="/CategoryController1/GetCategory/@x.CategoryID" class="btn btn-success">Update</a></td>
            <td><a href="#" class="btn btn-info">Details</a></td>
        </tr>
        
    }
</table>
<a href="CategoryController1/AddCategory/" class="btn btn-primary">New Category</a>

